.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 73.3vh;
    justify-content: center;
    width: 100%;
}

.conteinerList{
    display: inherit;
    flex-direction: row;
    align-items: center;
    background-color: rgb(154, 153, 153);
    justify-content: space-around;
    padding: 15px;
    width: 95%;
    opacity: 0.6;
}

.conteinerList div{
    width: 100%;
}

.conteinerList div p{
    cursor: default;

}

thead{
    background-color: rgb(154, 153, 153);
    width: 95%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(133, 131, 131);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-around;
    margin-top: 30px;
}

tr{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

th{
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: default;
}

.conteinerList p{
    font-size: 18px;
    color: rgb(7, 6, 6);
    text-align: center;
}

.conteinerButton{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.conteinerButton span{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.textbutton{
    margin: 15px 0;
    padding: 15px;
    background-color: grey;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.textbutton:hover{
    background-color: rgb(83, 82, 82);
}

.loading{
    color: white;
    text-align: center;
}

